.footer{
  background-color: #e7dee4;
  text-align: center;
  font-size: 80%;
}


.footer p {
  margin-bottom: 0px;
}
.footer a{
  text-decoration: none;
  color: black;
  font-size: 200%;
  background-color: #ab879a;
  border-radius: 5px;
}