/*
    Header bereich
 */



.header {
  height: 100vh;
  background-image: url("../img/nil-castellvi-Mt1fd2m2PKw-unsplash.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.header-navbar-links{
  color: white;
  float: right;
  margin-top: 50px;
}

.header-navbar-links li{
  float: left;
  list-style-type: none;
  margin-left: 15px;
  font-size: 20px;
}

.header-navbar-links a{
  text-decoration: none;
  color: white;
}

.header-navbar-links a:hover{
  text-decoration: underline;
  color: #695656;
  transition: all 0.5s;
}


.header-brand-wrapper{
  margin-top: 50px;
  float: left;
}

.header-brand{
  color:whitesmoke;
  font-size: 170%;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: -12%;
}

.slogan {
  color: white;
  text-align: center;
  padding: 20vh;
}

.slogan-top{
  font-size: 150%;
  font-weight: lighter;
}

.slogan-bottom{
  font-size: 300%;
  font-weight: bold;
}

.slogan-button{
  background-color: #517b8a;
  opacity: 75%;
  color: whitesmoke;
}
