/*
    Service Seite
 */

.service {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e6dbe1;
  font-weight: lighter;
}
.service h1{
  font-weight: lighter;
}

.service-icon{
  font-size: 150px;
  color: #8f8e91;
  text-align: center;
  margin-top: -10%;
  opacity: 80%;
  margin-bottom: -20% ;
}
