body{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

/*
    Header bereich
 */

.header {
    height: 100vh;
    background-image: url("../img/nil-castellvi-Mt1fd2m2PKw-unsplash.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.header-navbar-links{
    color: white;
    float: right;
    margin-top: 50px;
}

.header-navbar-links li{
    float: left;
    list-style-type: none;
    margin-left: 15px;
    font-size: 20px;
}

.header-navbar-links a{
    text-decoration: none;
    color: white;
}

.header-navbar-links a:hover{
    text-decoration: underline;
    color: #695656;
    transition: all 0.5s;
}


.header-brand-wrapper{
    margin-top: 50px;
    float: left;
}

.header-brand{
    color:whitesmoke;
    font-size: 170%;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: -12%;
}

.slogan {
    color: white;
    text-align: center;
    padding: 20vh;
}

.slogan-top{
    font-size: 150%;
    font-weight: lighter;
}

.slogan-bottom{
    font-size: 300%;
    font-weight: bold;
}

.slogan-button{
    background-color: #517b8a;
    opacity: 75%;
    color: whitesmoke;
}

/*
    Service Seite
 */

.service {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e6dbe1;
    font-weight: lighter;
}
.service h1{
    font-weight: lighter;
}

.service-icon{
    font-size: 150px;
    color: #8f8e91;
    text-align: center;
    margin-top: -10%;
    opacity: 80%;
    margin-bottom: -20% ;
}

/*
    Features Seite
 */

.features{
    padding-bottom: 50px;
    padding-top: 100px;
    background-color: #e6dbe1;
    font-weight: lighter;
}

.feature-icon{
    width: 70px;
    height: 60px;
    background-color: #222020;
    border-radius: 35px;
    opacity: 80%;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    float: left;
    transition: all 1s;
}

.feature-icon:hover{
    transform: rotate(360deg);
}


.feature-text{
    margin-left: 90px;
    font-size: 90%;
}

.feature-text h5{
    margin-bottom: 10px;
    font-size: 110%;
}


/*
    Clients Seite
 */

.clients{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e6dbe1;
    font-weight: lighter;
}

.clients-heading{
    font-weight: lighter;
    margin-bottom: 0px;
    text-align: center;
}

.clients-subheading {
    text-align: center;
}

.client-picture{
    width: 100%;
    border-radius: 100%;
    margin-bottom: 50px;
}

.client-quote{
    background-color: #e7dee4;
    border: 1px solid #9d9b98;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom:20px;
    border-radius: 5px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 100;
    position: relative;
    margin-top: 15px;
}

.client-quote p{
    margin-bottom: 5px;
}

.client-author{
    font-size: 80%;
    color: #d89c9e;
    font-weight: normal;
}

.client-quote::before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    left: -28px;
    top:50%;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid #9d9b98;
}

.client-quote::after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    left: -26px;
    top:50%;
    margin-top: -13px;
    border: 13px solid transparent;
    border-right: 13px solid #e7dee4;
}

.client-quote-left{
    background-color: #e7dee4;
    border: 1px solid #9d9b98;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom:20px;
    border-radius: 5px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 100;
    position: relative;
    margin-top: 15px;
}

.client-quote-left p{
    margin-bottom: 5px;
}


.client-quote-left::before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    right: -28px;
    top:50%;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid #9d9b98;
}

.client-quote-left::after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    right: -26px;
    top:50%;
    margin-top: -13px;
    border: 13px solid transparent;
    border-left: 13px solid #e7dee4;
}

/*
    Contact Seite
 */

.contact{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #ab879a;
    font-weight: lighter;
    color: whitesmoke;
    text-shadow: white;
}

.contact h1{
    margin-bottom: 10px;
}

.contact-ways{
    padding-top: 30px;
    list-style-type: none;
}

.contact-ways li{
    width: 50%;
    float: left;
    font-family: Poppins;
    font-weight: 400;
    font-size: 80%;
}

.contact-ways li .fa{
    font-size: 120%;
}

.contact-icon{
    display: inline-block;
    width: 25px;
    height: 35px;
}

.contact-input{
    width: 100%;
    color: #888888;
    margin-bottom: 25px;
}

.contact-input:focus,
input.contact-input:focus{
    border: 1px solid black;
    background-color: #e5dede;
    transition: background-color 0.5s;
}

.contact textarea{
    height: 150px;
}

input.contact-submit[type="submit"]{
    background-color: white;
}

.footer{
    background-color: #e7dee4;
    text-align: center;
    font-size: 80%;
}


.footer p {
    margin-bottom: 0px;
}
.footer a{
    text-decoration: none;
    color: black;
    font-size: 200%;
    background-color: #ab879a;
    border-radius: 5px;
}