body{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

/*
    Header bereich
 */

.header {
    height: 100vh;
    background-image: url("../img/nil-castellvi-Mt1fd2m2PKw-unsplash.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.header-navbar-links{
    color: white;
    float: right;
    margin-top: 50px;
}

.header-navbar-links li{
    float: left;
    list-style-type: none;
    margin-left: 15px;
    font-size: 20px;
}

.header-brand-wrapper{
    margin-top: 50px;
    float: left;
}

.header-brand{
    color:whitesmoke;
    font-size: 170%;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: -12%;
}

.slogan {
    color: white;
    text-align: center;
    padding: 20vh;
}

.slogan-top{
    font-size: 150%;
    font-weight: lighter;
}

.slogan-bottom{
    font-size: 300%;
    font-weight: bold;
}

.slogan-button{
    background-color: #517b8a;
    opacity: 75%;
    color: whitesmoke;
}

/*
    Service Seite
 */

.service {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e6dbe1;
    font-weight: lighter;
}
.service h1{
    font-weight: lighter;
}

.service-icon{
    font-size: 150px;
    color: #8f8e91;
    text-align: center;
    margin-top: -10%;
    opacity: 80%;
    margin-bottom: -20% ;
}

/*
    Features Seite
 */

.features{
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #e6dbe1;
    font-weight: lighter;
}

.feature-icon{
    width: 70px;
    height: 60px;
    background-color: #222020;
    border-radius: 35px;
    opacity: 80%;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    float: left;
}

.feature-text{
    margin-left: 90px;
    font-size: 90%;
}

.feature-text h5{
    margin-bottom: 10px;
    font-size: 110%;
}